<footer class="footer">
  <div class="container">
    <p class="text-muted text-center copyright mt-5">"All logos and trademarks are the property of the respective
      trademark owners"<br />
      "Images or other media content uploaded by our users are the property of the respective copyright owners."<br />
      "This project is for Educational Purposes Only"</p>
    <p class="text-muted text-center">Angular 8 tutorial for Udemy <span class="ml-sm-2 ml-md-5">Duncan
        Falconer, 2019 </span> <a class="grow" href="https://github.com/ddeveloper72/Angular-Recipe-Project" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
        </a></p>
  </div>
</footer>
